# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django
*.log
db.sqlite3
/static/
/media/

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# macOS
.DS_Store

# Docker
postgres_data/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Others
*.swp
